# Movies ratings analysis with a small dataset (100K entries)

### At first we will explore this dataset with pandas then we will compare computation performances between pandas and pyspark

In [1]:
import pandas as pd
from pyarrow import csv, compute
import pyarrow as pa
import time
from datetime import datetime

In [2]:
movies_file_small = "./small_dataset/movies.csv"
ratings_file_small = "./small_dataset/ratings.csv"
movies_file_large = "./large_dataset/movies.csv"
ratings_file_large = "./large_dataset/ratings.csv"

In [3]:
movies_df = pd.read_csv(movies_file_small)
ratings_df = pd.read_csv(ratings_file_small)

### Print dataframes to see the data structure

In [4]:
movies_df

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy
...,...,...,...
9737,193581,Black Butler: Book of the Atlantic (2017),Action|Animation|Comedy|Fantasy
9738,193583,No Game No Life: Zero (2017),Animation|Comedy|Fantasy
9739,193585,Flint (2017),Drama
9740,193587,Bungo Stray Dogs: Dead Apple (2018),Action|Animation
9741,193609,Andrew Dice Clay: Dice Rules (1991),Comedy

In [5]:
ratings_df

        userId  movieId  rating   timestamp
0            1        1     4.0   964982703
1            1        3     4.0   964981247
2            1        6     4.0   964982224
3            1       47     5.0   964983815
4            1       50     5.0   964982931
...        ...      ...     ...         ...
100831     610   166534     4.0  1493848402
100832     610   168248     5.0  1493850091
100833     610   168250     5.0  1494273047
100834     610   168252     5.0  1493846352
100835     610   170875     3.0  1493846415

[100836 rows x 4 columns]

## Exploration with pandas

### Question 1 : how many adventure movies are there ?

In [6]:
adventure_movies_nb = movies_df.loc[movies_df["genres"].str.contains("Adventure")].shape[0]
print(f"There are {adventure_movies_nb} movies in category Adventure")

There are 1263 movies in category Adventure

### Question 2 : How many movies by category are there ?

In [7]:
movies_by_category = {}
for movie in movies_df.iterrows():
    categories = movie[1]["genres"].split("|")
    for category in categories:
        if movies_by_category.get(category) is None:
            movies_by_category[category] = 1
        else:
            movies_by_category[category] += 1
for i in movies_by_category:
    print(f"{i}: {movies_by_category[i]}")

Adventure: 1263
Animation: 611
Children: 664
Comedy: 3756
Fantasy: 779
Romance: 1596
Drama: 4361
Action: 1828
Crime: 1199
Thriller: 1894
Horror: 978
Mystery: 573
Sci-Fi: 980
War: 382
Musical: 334
Documentary: 440
IMAX: 158
Western: 167
Film-Noir: 87
(no genres listed): 34

### Question 3 : calculate mean of ratings by user (+ standard deviation and variance)

In [8]:
user_ratings_mean = ratings_df[["userId", "rating"]].groupby(["userId"]).mean()
user_ratings_mean

          rating
userId
1       4.366379
2       3.948276
3       2.435897
4       3.555556
5       3.636364
...          ...
606     3.657399
607     3.786096
608     3.134176
609     3.270270
610     3.688556

[610 rows x 1 columns]

In [9]:
# With standard deviation and variance
user_ratings_stats = ratings_df[["userId", "rating"]].groupby(["userId"]).aggregate(["mean", "std", "var"])
user_ratings_stats

          rating
            mean       std       var
userId
1       4.366379  0.800048  0.640077
2       3.948276  0.805615  0.649015
3       2.435897  2.090642  4.370783
4       3.555556  1.314204  1.727132
5       3.636364  0.990441  0.980973
...          ...       ...       ...
606     3.657399  0.724121  0.524351
607     3.786096  0.965657  0.932494
608     3.134176  1.079262  1.164807
609     3.270270  0.450225  0.202703
610     3.688556  0.857422  0.735173

[610 rows x 3 columns]

### Question 4 : Calculate score of each movie

In [10]:
# at first, let's transform timestamps column into dates
ratings_df["timestamp"] = ratings_df["timestamp"].apply(lambda x: datetime.fromtimestamp(x))
ratings_df = ratings_df.rename(columns={"timestamp": "date"})

# next step, we need to join the 2 dataframes
df = pd.merge(ratings_df, movies_df, on="movieId")
df

,userId,movieId,rating,date,title,genres
0,1,1,4.0,2000-07-30 20:45:03,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,5,1,4.0,1996-11-08 07:36:02,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
2,7,1,4.5,2005-01-25 07:52:26,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
3,15,1,2.5,2017-11-13 13:59:30,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
4,17,1,4.5,2011-05-18 07:28:03,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
...,...,...,...,...,...,...
100831,610,160341,2.5,2016-11-19 09:55:49,Bloodmoon (1997),Action|Thriller
100832,610,160527,4.5,2016-11-19 09:43:18,Sympathy for the Underdog (1971),Action|Crime|Drama
100833,610,160836,3.0,2017-05-03 22:53:14,Hazard (2005),Action|Drama|Thriller
100834,610,163937,3.5,2017-05-03 23:59:49,Blair Witch (2016),Horror|Thriller
100835,610,163981,3.5,2017-05-04 00:22:35,31 (2016),Horror

In [11]:
# a simple score for each movie could be juste the mean of all ratings for each of them
movie_rating = df.groupby("movieId").aggregate({"rating": ["mean"]})
movie_rating

           rating
             mean
movieId
1        3.920930
2        3.431818
3        3.259615
4        2.357143
5        3.071429
...           ...
193581   4.000000
193583   3.500000
193585   3.500000
193587   3.500000
193609   4.000000

[9724 rows x 1 columns]

In [12]:
# now let's merge movies_df with the score
movies_df = pd.merge(movies_df, movie_rating, on="movieId")
movies_df = movies_df.rename(columns={("rating", "mean"): "score"})
movies_df

/tmp/ipykernel_85895/588562798.py:2: FutureWarning: merging between different levels is deprecated and will be removed in a future version. (1 levels on the left, 2 on the right)
  movies_df = pd.merge(movies_df, movie_rating, on="movieId")

,movieId,title,genres,score
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,3.920930
1,2,Jumanji (1995),Adventure|Children|Fantasy,3.431818
2,3,Grumpier Old Men (1995),Comedy|Romance,3.259615
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance,2.357143
4,5,Father of the Bride Part II (1995),Comedy,3.071429
...,...,...,...,...
9719,193581,Black Butler: Book of the Atlantic (2017),Action|Animation|Comedy|Fantasy,4.000000
9720,193583,No Game No Life: Zero (2017),Animation|Comedy|Fantasy,3.500000
9721,193585,Flint (2017),Drama,3.500000
9722,193587,Bungo Stray Dogs: Dead Apple (2018),Action|Animation,3.500000
9723,193609,Andrew Dice Clay: Dice Rules (1991),Comedy,4.000000

# Now let's do all of this with pandas and pyarrow and compare computation time

# With Pandas

In [13]:
def pandas_compute(movies_file, ratings_file):
    # get dataframes
    movies_df = pd.read_csv(movies_file)
    ratings_df = pd.read_csv(ratings_file)
    
    # question 1 : number of movies in category Adventure
    print("\n ----- Question 1 ----- \n")
    adventure_movies_nb = movies_df.loc[movies_df["genres"].str.contains("Adventure")].shape[0]
    print(f"There are {adventure_movies_nb} movies in category Adventure")
    
    # question 2 : number of movies by categories (did not found another way to do this)
    print("\n ----- Question 2 ----- \n")
    movies_by_category = {}
    for movie in movies_df.iterrows():
        categories = movie[1]["genres"].split("|")
        for category in categories:
            if movies_by_category.get(category) is None:
                movies_by_category[category] = 1
            else:
                movies_by_category[category] += 1
    for i in movies_by_category:
        print(f"{i}: {movies_by_category[i]}")
    
    # question 3 : mean of ratings per user
    print("\n ----- Question 3 ----- \n")
    user_ratings_stats = ratings_df[["userId", "rating"]].groupby(["userId"]).aggregate(["mean", "std", "var"])
    print(user_ratings_stats)
    
    # question 4 : score for each movie
    print("\n ----- Question 4 ----- \n")
    df = pd.merge(ratings_df, movies_df, on="movieId")
    movie_rating = df.groupby("movieId").aggregate({"rating": ["mean"]})
    movies_df = pd.merge(movies_df, movie_rating, on="movieId")
    movies_df = movies_df.rename(columns={("rating", "mean"): "score"})
    print(movies_df)

# Small dataset(100k)

In [14]:
%%time
pandas_compute(movies_file_small, ratings_file_small)

 ----- Question 1 -----

There are 1263 movies in category Adventure

 ----- Question 2 -----

Adventure: 1263
Animation: 611
Children: 664
Comedy: 3756
Fantasy: 779
Romance: 1596
Drama: 4361
Action: 1828
Crime: 1199
Thriller: 1894
Horror: 978
Mystery: 573
Sci-Fi: 980
War: 382
Musical: 334
Documentary: 440
IMAX: 158
Western: 167
Film-Noir: 87
(no genres listed): 34

 ----- Question 3 -----

          rating
            mean       std       var
userId
1       4.366379  0.800048  0.640077
2       3.948276  0.805615  0.649015
3       2.435897  2.090642  4.370783
4       3.555556  1.314204  1.727132
5       3.636364  0.990441  0.980973
...          ...       ...       ...
606     3.657399  0.724121  0.524351
607     3.786096  0.965657  0.932494
608     3.134176  1.079262  1.164807
609     3.270270  0.450225  0.202703
610     3.688556  0.857422  0.735173

[610 rows x 3 columns]

 ----- Question 4 -----

      movieId                                      title  \
0           1                           Toy Story (1995)
1           2                             Jumanji (1995)
2           3                    Grumpier Old Men (1995)
3           4                   Waiting to Exhale (1995)
4           5         Father of the Bride Part II (1995)
...       ...                                        ...
9719   193581  Black Butler: Book of the Atlantic (2017)
9720   193583               No Game No Life: Zero (2017)
9721   193585                               Flint (2017)
9722   193587        Bungo Stray Dogs: Dead Apple (2018)
9723   193609        Andrew Dice Clay: Dice Rules (1991)

                                           genres     score
0     Adventure|Animation|Children|Comedy|Fantasy  3.920930
1                      Adventure|Children|Fantasy  3.431818
2                                  Comedy|Romance  3.259615
3                            Comedy|Drama|Romance  2.357143
4                                          Comedy  3.071429
...                                           ...       ...
9719              Action|Animation|Comedy|Fantasy  4.000000
9720                     Animation|Comedy|Fantasy  3.500000
9721                                        Drama  3.500000
9722                             Action|Animation  3.500000
9723                                       Comedy  4.000000

[9724 rows x 4 columns]
CPU times: user 296 ms, sys: 9.79 ms, total: 305 ms
Wall time: 304 ms

/tmp/ipykernel_85895/255089233.py:33: FutureWarning: merging between different levels is deprecated and will be removed in a future version. (1 levels on the left, 2 on the right)
  movies_df = pd.merge(movies_df, movie_rating, on="movieId")

# Large dataset (250m)

In [15]:
%%time
pandas_compute(movies_file_large, ratings_file_large)

 ----- Question 1 -----

There are 4067 movies in category Adventure

 ----- Question 2 -----

Adventure: 4067
Animation: 2663
Children: 2749
Comedy: 15956
Fantasy: 2637
Romance: 7412
Drama: 24144
Action: 7130
Crime: 5105
Thriller: 8216
Horror: 5555
Mystery: 2773
Sci-Fi: 3444
IMAX: 197
Documentary: 5118
War: 1820
Musical: 1113
Western: 1378
Film-Noir: 364
(no genres listed): 4266

 ----- Question 3 -----

          rating
            mean       std       var
userId
1       3.312500  1.046821  1.095833
2       3.666667  0.487950  0.238095
3       3.545455  0.820200  0.672727
4       3.397418  1.231395  1.516333
5       4.263889  0.581234  0.337833
...          ...       ...       ...
283224  3.732523  0.894533  0.800189
283225  3.100000  0.640723  0.410526
283226  1.818182  0.603023  0.363636
283227  3.941176  0.845620  0.715074
283228  4.340708  0.648713  0.420828

[283228 rows x 3 columns]

 ----- Question 4 -----

       movieId                                    title  \
0            1                         Toy Story (1995)
1            2                           Jumanji (1995)
2            3                  Grumpier Old Men (1995)
3            4                 Waiting to Exhale (1995)
4            5       Father of the Bride Part II (1995)
...        ...                                      ...
53884   193876                  The Great Glinka (1946)
53885   193878  Les tribulations d'une caissière (2011)
53886   193880                 Her Name Was Mumu (2016)
53887   193882                             Flora (2017)
53888   193886                              Leal (2018)

                                            genres     score
0      Adventure|Animation|Children|Comedy|Fantasy  3.886649
1                       Adventure|Children|Fantasy  3.246583
2                                   Comedy|Romance  3.173981
3                             Comedy|Drama|Romance  2.874540
4                                           Comedy  3.077291
...                                            ...       ...
53884                           (no genres listed)  3.000000
53885                                       Comedy  2.000000
53886                                        Drama  2.000000
53887                Adventure|Drama|Horror|Sci-Fi  2.000000
53888                           Action|Crime|Drama  3.250000

[53889 rows x 4 columns]
CPU times: user 8.1 s, sys: 825 ms, total: 8.92 s
Wall time: 8.92 s

/tmp/ipykernel_85895/255089233.py:33: FutureWarning: merging between different levels is deprecated and will be removed in a future version. (1 levels on the left, 2 on the right)
  movies_df = pd.merge(movies_df, movie_rating, on="movieId")

# With Pyarrow

In [16]:
def pyarrow_compute(movies_file, ratings_file):
    # get dataframes
    movies_df = csv.read_csv(movies_file)
    ratings_df = csv.read_csv(ratings_file)
    
    # question 1 : number of movies in category Adventure
    print("\n ----- Question 1 ----- \n")
    adventure_movies_nb = len(movies_df.filter(compute.equal(compute.match_substring(movies_df["genres"], "Adventure"), True)))
    print(f"There are {adventure_movies_nb} movies in category Adventure")
    
    # question 2 : number of movies by categories (did not found another way to do this)
    print("\n ----- Question 2 ----- \n")
    movies_by_category = {}
    rows = compute.split_pattern(movies_df["genres"], "|")
    for categories in rows:
        for category in categories:
            if movies_by_category.get(category) is None:
                movies_by_category[category] = 1
            else:
                movies_by_category[category] +=1
    for i in movies_by_category:
        print(f"{i}: {movies_by_category[i]}")
    
    # question 3 : mean of ratings per user
    print("\n ----- Question 3 ----- \n")
    user_ratings_stats = ratings_df.group_by("userId").aggregate([("rating", "mean"), ("rating", "stddev"), ("rating", "variance")])
    print(user_ratings_stats)
    
    # question 4 : score for each movie
    print("\n ----- Question 4 ----- \n")
    df = movies_df.join(ratings_df, "movieId")
    scores = df.group_by("movieId").aggregate([("rating", "mean")])
    movies_df = movies_df.append_column("score", scores["rating_mean"])
    print(movies_df)

# Small dataset(100k)

In [17]:
%%time
pyarrow_compute(movies_file_small, ratings_file_small)

 ----- Question 1 -----

There are 1263 movies in category Adventure

 ----- Question 2 -----

Adventure: 1263
Animation: 611
Children: 664
Comedy: 3756
Fantasy: 779
Romance: 1596
Drama: 4361
Action: 1828
Crime: 1199
Thriller: 1894
Horror: 978
Mystery: 573
Sci-Fi: 980
War: 382
Musical: 334
Documentary: 440
IMAX: 158
Western: 167
Film-Noir: 87
(no genres listed): 34

 ----- Question 3 -----

pyarrow.Table
rating_mean: double
rating_stddev: double
rating_variance: double
userId: int64
----
rating_mean: [[4.366379310344827,3.9482758620689653,2.4358974358974357,3.5555555555555554,3.6363636363636362,...,3.6573991031390136,3.786096256684492,3.1341756919374246,3.27027027027027,3.6885560675883258]]
rating_stddev: [[0.7983219432592222,0.7916027781551033,2.063664549798729,1.3111581912451051,0.9791208740244554,...,0.7237957107162318,0.9630717629964942,1.0786124540034687,0.44409937095013474,0.8570927019279846]]
rating_variance: [[0.6373179250891808,0.6266349583828776,4.2587113740959905,1.7191358024691354,0.9586776859504134,...,0.5238802308512152,0.9275072206811756,1.1634048259313852,0.1972242512783054,0.734607899698213]]
userId: [[1,2,3,4,5,...,606,607,608,609,610]]

 ----- Question 4 -----

pyarrow.Table
movieId: int64
title: string
genres: string
score: double
----
movieId: [[1,2,3,4,5,...,193581,193583,193585,193587,193609]]
title: [["Toy Story (1995)","Jumanji (1995)","Grumpier Old Men (1995)","Waiting to Exhale (1995)","Father of the Bride Part II (1995)",...,"Black Butler: Book of the Atlantic (2017)","No Game No Life: Zero (2017)","Flint (2017)","Bungo Stray Dogs: Dead Apple (2018)","Andrew Dice Clay: Dice Rules (1991)"]]
genres: [["Adventure|Animation|Children|Comedy|Fantasy","Adventure|Children|Fantasy","Comedy|Romance","Comedy|Drama|Romance","Comedy",...,"Action|Animation|Comedy|Fantasy","Animation|Comedy|Fantasy","Drama","Action|Animation","Comedy"]]
score: [[3.9209302325581397,3.4318181818181817,3.2596153846153846,2.357142857142857,3.0714285714285716,...,null,null,null,null,null]]
CPU times: user 66.1 ms, sys: 15.6 ms, total: 81.7 ms
Wall time: 71.2 ms

# Large dataset (250m)

In [18]:
%%time
pyarrow_compute(movies_file_large, ratings_file_large)

 ----- Question 1 -----

There are 4067 movies in category Adventure

 ----- Question 2 -----

Adventure: 4067
Animation: 2663
Children: 2749
Comedy: 15956
Fantasy: 2637
Romance: 7412
Drama: 24144
Action: 7130
Crime: 5105
Thriller: 8216
Horror: 5555
Mystery: 2773
Sci-Fi: 3444
IMAX: 197
Documentary: 5118
War: 1820
Musical: 1113
Western: 1378
Film-Noir: 364
(no genres listed): 4266

 ----- Question 3 -----

pyarrow.Table
rating_mean: double
rating_stddev: double
rating_variance: double
userId: int64
----
rating_mean: [[3.3125,3.6666666666666665,3.5454545454545454,3.3974184782608696,4.263888888888889,...,3.7325227963525838,3.1,1.8181818181818181,3.9411764705882355,4.34070796460177]]
rating_stddev: [[1.0135796712641785,0.4714045207910317,0.7820295697311479,1.230558095763816,0.5771831876438932,...,0.8931723559218937,0.6244997998398398,0.5749595745760688,0.8203720988812563,0.6458358332927059]]
rating_variance: [[1.02734375,0.2222222222222222,0.6115702479338843,1.514273227049869,0.3331404320987656,...,0.7977568573830659,0.39,0.3305785123966941,0.6730103806228377,0.41710392356488374]]
userId: [[1,2,3,4,5,...,283224,283225,283226,283227,283228]]

 ----- Question 4 -----

pyarrow.Table
movieId: int64
title: string
genres: string
score: double
----
movieId: [[1,2,3,4,5,...,100036,100038,100040,100042,100044],[100046,100048,100050,100052,100054,...,157937,157943,157951,157955,157957],[157959,157961,157963,157965,157967,...,193876,193878,193880,193882,193886]]
title: [["Toy Story (1995)","Jumanji (1995)","Grumpier Old Men (1995)","Waiting to Exhale (1995)","Father of the Bride Part II (1995)",...,"Crossfire Hurricane (2012)","Middle of Nowhere (2012)","True Blue (2001) ","Guns of Fort Petticoat, The (1957)","Human Planet (2011)"],["Madagascar (2011)","Omar Killed Me (Omar m'a tuer) (2011)","Enola Gay and the Atomic Bombing of Japan (1995)","Red Hook Summer (2012)","Stella Maris (1918)",...,"A Strange Affair (1981)","L'Homme aux Yeux d'Argent (1985)","L'Autrichienne (1990)","The Break-In (2016)","Short Fuse (2016)"],["Term Life (2016)","Synchronicity (2015)","The Final Comedown (1972)","Red Dot on the Ocean (2014)","The Gits (2008)",...,"The Great Glinka (1946)","Les tribulations d'une caissière (2011)","Her Name Was Mumu (2016)","Flora (2017)","Leal (2018)"]]
genres: [["Adventure|Animation|Children|Comedy|Fantasy","Adventure|Children|Fantasy","Comedy|Romance","Comedy|Drama|Romance","Comedy",...,"Documentary|Musical","Drama|Romance","Crime|Drama|Thriller","War|Western","Documentary"],["Documentary","Crime|Drama","Documentary","Drama","Drama",...,"Drama","Crime|Drama","Drama","Drama|Thriller","Action|Thriller"],["Crime|Drama","Mystery|Sci-Fi|Thriller","Drama","Adventure|Documentary","(no genres listed)",...,"(no genres listed)","Comedy","Drama","Adventure|Drama|Horror|Sci-Fi","Action|Crime|Drama"]]
score: [[2.585714285714286,3.1130434782608694,1.25,4.5,3.6666666666666665,...,null,null,null,null,null]]
CPU times: user 26 s, sys: 2.54 s, total: 28.6 s
Wall time: 24 s

# So we have : 
#    - Pandas small : 300ms
#    - Pandas large : 9s
#    - Pyarrow small : 70ms
#    - Pyarrow large : 24s

# Which indicates that Pyarrow is really fast with small datasets (3 4 times faster than pandas), but when you use it with large dataset with some groupby and joins, the speed decrease exponentially.
# I'm pretty sure that pyarrow can be as fast with large datasets but with better methods and algorithms.
# With this little experience with pyarrow, I don't recommend it because the documentation is really not well explained, and there is no community on it. (That's why I didn't found good functions to use for the use cases)
# So Pandas is a really good choice for small / medium size datasets (<250m) and for pure analysis.
# If you need to deal with really large files and datasets, Pyspark with HDFS seems to be the best overall, but I didn't tested in this TP (no time for it).